.contenedorInfo{
    width: 100%;
    position: absolute;
    left: 20vw;
    z-index: -1;
    height: 60vh;
}

.actores{
    width: 65vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.lateral{
-webkit-box-shadow: -100px 22px 100px -15px rgb(255, 255, 255);
-moz-box-shadow: -100px 22px 100px -15px rgb(255, 255, 255);
box-shadow: -100px 22px 100px -15px rgb(255, 255, 255);
z-index: 2;
}

.info{
    width: 15vw;
}